{% extends "AppXppal/layout.html" %}
{% load static %}   
{% block title %}Listado de Capitanes{% endblock title %}
{% block addcss %}{% endblock addcss %}
{% block content %}
<div class="col-sm-12 mx-auto">
  <div class="card mt-3 mb-1">
    <div class="card-header">
      <h3 class="text-center">{{ titulo }}</h3>
      <hr>
    <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Cedula</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Telefono</th>
                <th scope="col">Direccion</th>
                <th scope="col" colspan="2"></th>
              </tr>
            </thead>
            <tbody>
                {% if lista %}
                {% for capitan in lista %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a href="{% url "consultarcapitan" capitan.id %}">
                      <span class="text-success">{{ capitan.cedula}}</span>
                    </a></td>
                    <td>{{ capitan.nombres}}</td>
                    <td>{{ capitan.apellidos}}</td>
                    <td>{{ capitan.telefono}}</td>
                    <td>{{ capitan.direccion}}</td>
                    <td>
                    <a href="{% url 'editarcapitan' capitan.id%}" class="btn btn-success px-5">Editar</a>
                    </td>
                </tr>
                {% endfor %}   
                {% else %}
                <h2> No hay capitans Registrados</h2>
                {% endif %}  
            </tbody>
          </table>
    </div>
  </div>
</div>
{% endblock content %}
{% block addjs %}

{% endblock addjs %}
{% block jquery %}
{% endblock jquery %}
