.altocuerpo {
    min-height: 50rem;
}

.fototable {
    width: 2rem;
    height: 2rem;
}

.icontable {
    width: 1.5rem;
    height: 1.5rem;
}

.imagenconsulta {
    width: 30rem;
    height: 15rem;
}