{% extends "AppXppal/layout.html" %}
{% load static %}   
{% block title %}Crear Socio{% endblock title %}
{% block addcss %}{% endblock addcss %}
{% block content %}
<div class="col-sm-7">
  <div class="card mt-1 mb-1">
    <div class="card-header">
      <h3 class="text-center">{{ titulo }}</h3>
      <hr>
    <div class="card-body">
        <form method="POST" action="" id="formemp">
            {% csrf_token %}
            {% for field  in form.visible_fields %}
            <div class="mb-1 row">
              <label for="inputPassword" class="col-sm-4 col-form-label">{{ field.label}}</label>
              <div class="col-sm-8">
                {{ field }}
              </div>
            </div>
            {% endfor %}
            <br>
            <div class="mb-1 row">
              <div class="col-sm-6">
                  <button type="submit" class="btn btn-primary mb-3 btn-block">Guardar</button>
              </div>
              <div class="col-sm-6">
                <a href="{% url 'crearsocio' %}" class="btn btn-secondary mb-3 btn-block">Limpiar</a>
            </div>
            </div>
          </form>
    </div>
  </div>
</div>
<div class="col-sm-5 mx-auto">
  Aca va Imagen
</div>
{% endblock content %}
{% block addjs %}{% endblock addjs %}
{% block jquery %}
{% include "AppSocios/ctrlcrearsocio.html" %}
{% endblock jquery %}


