{% load static %}
<link rel="stylesheet" href=" {% static 'AppXppal/css/bootstrap.min.css' %} ">
  <link rel="stylesheet" href="{% static 'AppXppal/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'AppXppal/css/ticker-style.css' %}">
  <link rel="stylesheet" href="{% static 'AppXppal/css/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'AppXppal/css/slicknav.css' %}">
  <link rel="stylesheet" href="{% static 'AppXppal/css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'AppXppal/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'AppXppal/css/fontawesome-all.min.css' %}">
  <link rel="stylesheet" href="{% static 'AppXppal/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'AppXppal/css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'AppXppal/css/nice-select.css' %}">
  <link rel="stylesheet" href="{% static 'AppXppal/css/style.css' %}">